body{
    background-color: rgb(200, 200, 200);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.8px;

    background: linear-gradient(280deg,#78c872,#da3fb7,#2a4ade,#86a2e4,#9b7223);
    background-size: 300% 300%;
    animation: gradient-animation 50s ease infinite;
    }
    
    @keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

}


li{
    list-style: none;
    
}
.battleship__main-block{
    position: relative;
    margin: 100px auto;
    width: 1024px;
    height: 863px;
    border: solid 2px rgb(255, 255, 255);
    /* background-color: black; */
    background: url(img/board.jpg) no-repeat;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
    

}
.battleship__board {
    position: absolute;
    left: 173px;
    top: 98px;
    /* border: 1px rgb(254, 254, 254) solid; */
    
}
.battleship__board td{
    width: 91px;
    height: 91px;
    /* border: 1px solid white; */
}
.messageArea__main {
    padding: 9px;
    background-color: rgb(0, 0, 0);
    /* transition: 0.9s; */
    position: absolute;
    left: -35px;
    top: -38px;
    width: 500px;
    height: 70px;
    border-radius: 5px;
    border: 1px solid white;

    /* display: none; */


}
.messageArea {
    /* display: block; */
    
    background-color: white;    
    /* color: rgb(33, 133, 33); */
    text-align: center;
    line-height: 70px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 5px;
}
form{
    position: absolute;
    bottom: -55px;
    right: -25px;
    background-color: rgb(0, 0, 0);
    padding: 9px;
    border-radius: 5px;
    border: 1px solid white;
}
form input{
    padding: 10px;
    font-size: 20px;
    /* font-weight: 600; */
    border-radius: 5px;
    border: 3px solid transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
.guessInput {
    /* background-color: rgb(195, 17, 17); */
    
    margin-right: 45px;
    outline: none;
    /* transition: 0.3s; */
    width: 330px;
   

}
.guessInput:hover{
    /* filter: brightness(90%); */
    border: 3px solid rgb(37, 158, 0);
}
.guessInput:focus{
    border: 3px solid rgb(37, 158, 0);
}
.fireButton {
    width: 130px;
    color: rgb(0, 0, 0);
}
.fireButton:hover{
    filter: brightness(90%);
}
.fireButton:active{
    transform: translateY(1px);
}
/* поподание */
.hit{
    background: url(img/ship.png) no-repeat center center;
    
}
/* промах */
.miss{
    background: url(img/miss.png) no-repeat center center;
}
/* .gradient-background {
  background: linear-gradient(333deg,#149249,#846fb3,#b18049,#2532cf,#49518d);
  background-size: 300% 300%;
  animation: gradient-animation 25s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */